<div class="loginForm">
  <div class="formContent">
    <h1>Login Form</h1>
    <form>
      <section>
        <label for="userName">User Name</label>
        <input type="text" id="userName" placeholder="Your User Name">
      </section>
      <section>
        <label for="password">Password</label>
        <input type="text" id="password" placeholder="Enter your password">
      </section>
      <div class="buttons">
        <button>Login</button>
        <a href="#">Not sign in ?</a>
      </div>
    </form>
  </div>
</div>